/* General */

@font-face {
  font-family: "Montserrat";
  src: url(../fonts/Montserrat-Regular.ttf);
  font-weight: normal;
}

@font-face {
  font-family: "Montserrat";
  src: url(../fonts/Montserrat-SemiBold.ttf);
  font-weight: 600;
}

@font-face {
  font-family: "Montserrat";
  src: url(../fonts/Montserrat-Bold.ttf);
  font-weight: bold;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat";
  color: #333333;
}

a {
  color: #333333;
  text-decoration: none;
  transition: 0.1s;
}

a:hover {
  color: #222222;
}

.btn-dark {
  background-color: #333333;
  color: #fafafa;
  padding: 12px 40px;
}

/* Navbar */

.navbar {
  height: 80px;
}

.navbar-expand-lg
.navbar-nav
.nav-link {
  padding-left: 0;
  padding-right: 0;
  margin-right: 20px;
}

.navbar
.btn-dark {
  padding: 10px 30px;
}

.navbar-lang {
  font-weight: 600;
  margin-left: 30px;
  font-size: 1.125rem;
}

/* Header */

.header {
  position: relative;
  height: 90vh;
  min-height: 600px;
  max-height: 1024px;

  background-color: rgba(0, 0, 0, 0.65);
}

.header::before {
  content: '';
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background-image: url(../img/header.jpg);
  background-size: cover;
}