
.navbar{
    height: 80px;
}

.nav-link{
    margin-left: 20px;
}

.button{
    border: 1px solid black;
    padding: 10px 35px 10px 35px !important;
}

.sec-two{
    height: 500px;
    border: 1px solid red;
}