/* General */

@font-face {
  font-family: "Montserrat";
  src: url(../fonts/Montserrat-Regular.ttf);
  font-weight: normal;
}

@font-face {
  font-family: "Montserrat";
  src: url(../fonts/Montserrat-SemiBold.ttf);
  font-weight: 600;
}

@font-face {
  font-family: "Montserrat";
  src: url(../fonts/Montserrat-Bold.ttf);
  font-weight: bold;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat";
  color: #333333;
}

a {
  color: #333333;
  text-decoration: none;
  transition: 0.1s;
}

a:hover {
  color: #222222;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2.25rem;
}

h3 {
  font-size: 1.125rem;
}

.btn {
  padding: 12px 40px;
  border-radius: 8px;
}

.btn-dark {
  background-color: #333333;
  color: #fafafa;
}

.btn-dark:hover {
  background-color: #222222;
}

.btn-light {
  background-color: #fafafa;
  color: #333333;
}

.bg-light {
  background-color: #fafafa !important;
}

.bg-dark {
  background-color: #333333 !important;
}

/* Navbar */

.navbar {
  height: 80px;
}

.navbar-expand-lg .navbar-nav .nav-link {
  padding-left: 0;
  padding-right: 0;
  margin-right: 20px;
}

.navbar .btn {
  padding: 10px 30px;
}

.navbar-lang {
  font-weight: 600;
  margin-left: 30px;
  font-size: 1.125rem;
}

/* Header */

.header {
  margin-top: 80px;

  position: relative;
  height: 90vh;
  min-height: 600px;
  max-height: 1024px;

  background-color: rgba(0, 0, 0, 0.65);
}

.header h1,
.header h2,
.header h3,
.header p {
  color: #fafafa;
}

.header::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background-image: url(../img/header.jpg);
  background-size: cover;
}

.header h1 {
  margin-bottom: 24px;
}

.header h2 {
  margin-bottom: 104px;
}

/* Services */

.services-title {
  margin: 80px 0px 40px 0px;
}

.services-card {
  height: 332px;
  width: 285px;
  margin: auto;
  margin-bottom: 40px;
  border: 1px solid #eee;
}

.services-card-img {
  margin: 20px 0px 20px 0px;
}

.main-title {
  font-weight: 600;
}

.services-card-text {
  padding: 0px 5px 0px 5px;
}

.main-text {
  font-size: 0.875rem;
  padding: 0px 10px 0px 10px;
}

/* About Us */

.aboutus {
  background-color: #fafafa;
  margin-top: 120px;
}

.aboutus .container-fluid {
  padding-left: 0;
}

.aboutus-header {
  margin-top: 40px;
  margin-bottom: 30px;
}

.aboutus-text {
  margin-bottom: 60px;
  padding: 0px 100px 0px 120px;
}

.aboutus-btn {
  margin-top: auto;
  margin-bottom: 30px;
}

/* Work Stages */

.workstages-title {
  margin: 80px 0 60px 0;
}

.workstages-card {
  position: relative;
  height: 265px;
  margin-bottom: 40px;

  background-color: rgba(51, 51, 51, 0.75);
}

.workstages-card::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;

  background-size: cover;
}

.workstages-1::before {
  background-image: url(../img/work1.jpg);
}

.workstages-2::before {
  background-image: url(../img/work2.jpg);
}

.workstages-3::before {
  background-image: url(../img/work3.jpg);
}

.workstages-4::before {
  background-image: url(../img/work4.jpg);
}

.workstages-card h2 {
  padding: 30px 20px;
  color: #fafafa;
}

.workstages-card h1 {
  position: absolute;
  top: 18px;
  right: 20px;
  color: #fafafa;
}

.workstages-card p {
  padding: 0 20px;
  color: #fafafa;
}

/* Why We */

#whywe {
  background-color: #fafafa;
  min-height: 695px;
  margin: 80px 0px 0px 0px;
}

.whywe-main-title {
  padding: 30px 0px 40px 0px;
}

.whywe-content {
  margin-top: 63px;
}

.whywe-title {
  margin: 0px 0px 25px 0px;
}

.whywe-categories {
  margin: 0px 0px 25px 0px;
}

/* Our Team */

.ourteam {
  min-height: 500px;
}

.ourteam-main-title {
  margin: 80px 0px 40px 0px;
}

.person {
  height: 160px;
  width: 160px;
  border-radius: 100%;
  margin: 0px 30px 0px 0px;
  border: 1px solid red;
}

.slick-arrow {
  background-color: black;
}

/* Contact Us */

.contactus {
  background-color: #fafafa;
}

.contactus-title {
  padding: 60px 0 0 0;
  margin-bottom: 70px;
}

.contactus-form {
  /* margin: 70px 0 100px 0; */
  margin-bottom: 100px;
}

.contactus-form > input {
  margin-bottom: 30px;
}

.contactus-form > textarea {
  margin-bottom: 40px;
}

.contactus-separator {
  position: absolute;
  width: 1px;
  top: -30px;
  bottom: 100px;
  left: 50%;
  padding: 0;
  background-color: #333333;
}

/* Footer */

footer {
  height: 60px;
  background-color: #333333;
  color: #fafafa;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: .875rem;
}